<%- include('partials/header.ejs'); -%>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= book.title %> - Notes</title>
  <style>
    body {
      font-family: "Poppins", sans-serif;
      background: #f7f7f7;
      color: #333;
      margin: 0;
      padding: 20px;
    }
    .container {
      max-width: 800px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .book-header {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .book-header img {
      width: 120px;
      border-radius: 8px;
    }
    h1 {
      margin: 0;
      font-size: 1.8rem;
    }
    h2 {
      margin-top: 30px;
      font-size: 1.4rem;
    }
    ul {
      margin-top: 10px;
      padding-left: 20px;
    }
    li {
      margin-bottom: 8px;
      line-height: 1.6;
    }
    .hidden {
      display: none;
    }

    textarea {
      padding: 0.5rem;
      width: 100%;
      font-size: 1rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      margin-top: 10px;
      box-sizing: border-box;
      resize: vertical;
    }

    button {
      background-color: var(--accent);
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
    }

    button {
      background-color: #4338ca;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="book-header">
      <img
        src="https://covers.openlibrary.org/b/olid/<%= book.olid %>-L.jpg"
        alt="Book Cover" />
      <div>
        <h1><%= book.title %></h1>
        <button onclick="showTextarea()">Edit</button>
      </div>
    </div>

    <h2>Notes</h2>
    <p id="note-text"><%= book.note %></p>
    <form action="/edit-note" method="post">
      <input type="hidden" name="id" value="<%= book.id %>" />
      <textarea name="notes" id="note-area" class="hidden" rows="15" cols="10">
<%= book.note %></textarea
      >
      <button class="hidden" id="sub-note" onclick="showTextarea()">
        Submit
      </button>
    </form>
  </div>

  <script>
    function showTextarea() {
      document.getElementById("note-area").classList.toggle("hidden");
      document.getElementById("note-text").classList.toggle("hidden");
      document.getElementById("sub-note").classList.toggle("hidden");
    }
  </script>

  <%- include('partials/footer.ejs'); -%>
</body>
